[submodule "roles/miarecweb"]
	path = roles/miarecweb
	url = https://github.com/miarec/ansible-role-miarecweb
[submodule "roles/miarec"]
	path = roles/miarec
	url = https://github.com/miarec/ansible-role-miarec
[submodule "roles/iptables"]
	path = roles/iptables
	url = https://github.com/miarec/ansible-role-iptables
[submodule "roles/python"]
	path = roles/python
	url = https://github.com/miarec/ansible-python
[submodule "roles/apache"]
	path = roles/apache
	url = https://github.com/miarec/ansible-role-apache
[submodule "roles/postgresql"]
	path = roles/postgresql
	url = https://github.com/miarec/ansible-postgresql
[submodule "roles/redis"]
	path = roles/redis
	url = https://github.com/miarec/ansible-redis
[submodule "roles/disable-selinux"]
	path = roles/disable-selinux
	url = https://github.com/miarec/ansible-role-disable-selinux
[submodule "roles/miarec-screen"]
	path = roles/miarec-screen
	url = https://github.com/miarec/ansible-role-miarec-screen
[submodule "roles/sox"]
	path = roles/sox
	url = https://github.com/miarec/ansible-sox-role
[submodule "roles/letsencrypt"]
	path = roles/letsencrypt
	url = https://github.com/miarec/ansible-role-letsencrypt
[submodule "roles/miarecweb-lb"]
	path = roles/miarecweb-lb
	url = https://github.com/miarec/ansible-role-miarecweb-lb
[submodule "roles/pgbouncer"]
	path = roles/pgbouncer
	url = https://github.com/miarec/ansible-role-pgbouncer
[submodule "roles/miarec_livemon"]
	path = roles/miarec_livemon
	url = https://github.com/miarec/ansible-role-miarec_livemon
	branch = 2022-04-livemon
